
[alias]
	ci = commit
	st = status -u
	meld = difftool -y --dir-diff
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	vimdiff = difftool
[core]
	editor = vim
    autocrlf = input
[diff]
	tool = vimdiff
[difftool "meld"]
	cmd = meld \"$LOCAL\" \"$REMOTE\"
[push]
	default = simple
[color]
	ui = true
[credential]
	helper = cache --timeout=360000
[http]
	sslverify = false
[include]
    path = .gitconfig_local
[user]
	email = cody@arrc.ou.edu
	name = Cody Piersall
[credential "https://gitlab.com"]
    username = codypiersall
[credential "https://github.com"]
    username = codypiersall
[credential "https://git.arrc.ou.edu"]
    username = pier3595
[difftool]
	prompt = false
[diff "astextplain"]
    textconv = astextplain
